<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mreverter.mercadopagoprueba" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CardDataActivity"
            android:label="@string/title_activity_payment_f1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MyPaymentMethodsListActivity"
            android:label="@string/title_activity_my_payment_methods_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".InstallmentsActivity"
            android:label="@string/title_activity_installments"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".IssuersActivity"
            android:label="@string/title_activity_issuers"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PaymentResultActivity"
            android:label="@string/title_activity_payment_result"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PaymentConfirmationActivity"
            android:label="@string/title_activity_payment_confirmation"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MyItemsActivity"
            android:label="@string/title_activity_my_items"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FlavorChoiseActivity"
            android:label="@string/title_activity_flavor_choise"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FakeVaultActivity"
            android:label="@string/title_activity_fake_vault"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
